<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security.xsd
   ">
	<security:http use-expressions="true" create-session="stateless"
		entry-point-ref="digestEntryPoint">
		<security:http-basic />
		<security:intercept-url pattern="/login*"
			access="isAnonymous()" />
		<security:intercept-url pattern="/**"
			access="isAuthenticated()" />
		<security:form-login default-target-url="/home"
			always-use-default-target="true" />
		<security:logout delete-cookies="JSESSIONID"
			logout-success-url="/login" />
		<security:custom-filter ref="digestFilter"
			after="BASIC_AUTH_FILTER" />
		<security:csrf disabled="true" />
	</security:http>

	<bean id="digestFilter"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
		<property name="userDetailsService" ref="userService" />
		<property name="authenticationEntryPoint" ref="digestEntryPoint" />
	</bean>

	<bean id="digestEntryPoint"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
		<property name="realmName" value="Contacts Realm via Digest Authentication" />
		<property name="key" value="acegi" />
	</bean>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service id="userService"
				data-source-ref="dataSource"
				users-by-username-query="SELECT username,password, enabled FROM users WHERE username=?"
				authorities-by-username-query="SELECT username, role FROM users INNER JOIN authorities ON authorities.id = users.role_id WHERE username =?  " />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>